.card {
  transition: all 0.4s;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.075);

  &:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }

  .card-title {
    font-size: 2rem;
  }

  .card-text {
    font-size: 1.4rem;
  }
}
